/* General Styles */
body {
    background-image: url('../../images/background.jpg');
    background-size: cover;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Navbar Styling */
.nav-bar {
    display: flex;
    justify-content: center;
    /* Centers the navbar items horizontally */
    align-items: center;
    /* Centers the navbar items vertically */
    background-color: #333;
    padding: 10px;
}
.nav-bar a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    margin-right: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.nav-bar a:hover {
    background-color: #575757;
}
.content {
    margin: 20px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Content Area Styles */
h1, h2 {
    color: #333;
    text-align: center;
    margin-top: 5px;
}
h1 {
    margin-top: 20px;
    font-size: 2rem;
}
h2 {
    font-size: 1.5rem;
}

/* Form Styles */
form {
    background-color: white;
    padding: 20px;
    max-width: 600px;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form input[type="text"],
form input[type="number"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Menu Items List Styles */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: white;
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

li strong {
    font-size: 1.2rem;
}

ul li ul {
    margin-left: 20px;
}

/* Button Styles */
button {
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9rem;
    margin-left: 10px;
    transition: background-color 0.3s;
}
#add-size-price {
    background-color: #007BFF;
}
#add-size-price:hover {
    background-color: #0056b3;
}
#add-menu-item {
    background-color: #42e064;
}
#add-menu-item:hover {
    background-color: #45a049;
}

.modify-form {
    background-color: #007BFF;
}
.modify-form:hover {
    background-color: #0056b3;
}

.delete-form button {
    background-color: #ff1100;
}
.delete-form button:hover {
    background-color: #d32f2f;
}


/* Specific styles for the delete form */
.delete-form {
    display: inline-block;
    margin: 0;
    padding: 0;
}

/* Add Size & Price Section */
#size-price-container {
    margin-bottom: 20px;
}

#size-price-container div {
    display: flex;
    justify-content: space-between;
}

#size-price-container-buttons {
    display: flex;
    justify-content: center;
}

#size-price-container input {
    width: 48%;
}
