/* order_history.css */
/* Navbar Styling */
.navbar {
    width: 200px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 15px;
    height: 100vh;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.navbar a {
    display: block;
    color: #333;
    text-decoration: none;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    transition: background-color 0.3s ease;
}

.navbar a:hover {
    background-color: rgb(212, 166, 106);
}

/* Card Hover Effect */
.order-item:hover {
    background-color: #f1f1f1;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}