<!DOCTYPE html>
<html>
<head>
    <title>Modify Menu Item</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pages/modify_menu_item.css') }}">
</head>
<body>
     <div class="nav-bar">
        <a href="{{ url_for('orders') }}">Orders</a>
        <a href="{{ url_for('order_history') }}">Order History</a>
        <a href="{{ url_for('menu_management') }}">Menu</a>
        <a href="{{ url_for('logout') }}">Logout</a>
    </div>
    <h1>Modify Menu Item</h1>
    <form method="POST">
        <label for="name">Item Name:</label>
        <input type="text" name="name" id="name-input" value="{{ item.name }}" required>
        
        <div id="size-price-container">
            {% for size in item.sizes %}
            <div class="size-price-group">
                <input type="text" name="size[]" placeholder="Size" value="{{ size.size }}" required>
                <input type="number" step="0.01" name="price[]" placeholder="Price" value="{{ size.price }}" required>
                <button type="button" class="remove-size-price">Remove</button>
            </div>
            {% endfor %}
        </div>
        <div id="action-buttons-container">
            <button type="button" id="add-size-price">Add Size & Price</button>
            <button type="submit" id="save0change">Save Changes</button>
        </div>
    </form>

    <script>
        // Add new size and price input fields
        document.getElementById('add-size-price').addEventListener('click', function() {
            const container = document.getElementById('size-price-container');
            const newInputGroup = document.createElement('div');
            newInputGroup.classList.add('size-price-group');
            newInputGroup.innerHTML = `
                <input type="text" name="size[]" placeholder="Size (e.g., 30 cl)" required>
                <input type="number" step="0.01" name="price[]" placeholder="Price (e.g., 5.00)" required>
                <button type="button" class="remove-size-price">Remove</button>
            `;
            container.appendChild(newInputGroup);
        });

        // Event listener to remove size and price input fields
        document.getElementById('size-price-container').addEventListener('click', function(event) {
            if (event.target.classList.contains('remove-size-price')) {
                const group = event.target.closest('.size-price-group');
                group.remove();
            }
        });
    </script>
</body>
</html>
