<!DOCTYPE html>
<html>
<head>
    <title>New User</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pages/new_user.css') }}">
</head>
<body>
    <h1>Create a New User</h1>
    <form method="POST">
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <input type="email" name="email" placeholder="Email" required>
        <button type="submit">Create Account</button>
    </form>
    <h1><a href="{{ url_for('login') }}">Login</a></h1>
</body>
</html>
